{% extends 'base.html' %} {% block content %}
<body>
  <h1>{{cat_name}} News</h1>
  <div class="container">
    <div class="row">
      {% for category in category %}
      <div class="col-md-4">
        <div class="card">
          <img src="{{category.image}}" class="card-img-top img-thumbnail" />
          <div class="card-body">
            <h5 class="card-title">{{category.author}}</h5>
            <p class="card-text">{{category.description}}</p>
          </div>
          <div class="card-body">
            <a href="{{category.url}}" class="card-link">Read more ...</a>
          </div>
          <div class="card-footer text-muted">
            <h4>{{category.author}}</h4>
            <h6>{{category.publishedDate}}</h6>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock %}
</body>
