<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-collapse"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"> News Catchup </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/{{'categories/Business'}}">Business</a></li>
        <li><a href="/{{'categories/Health'}}">Health</a></li>
        <li><a href="/{{'categories/Technology'}}">Technology</a></li>
        <li><a href="/{{'categories/Science'}}">Science</a></li>
        <li><a href="/{{'categories/Sports'}}">Sports</a></li>
        <li><a href="/{{'categories/Entertainment'}}">Entertainment</a></li>
      </ul>
      <form>
        <input
          class="form-control"
          type="text"
          placeholder="Search"
          aria-label="Search"
          name="search_query"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
